@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-primary-hover: #6d28d9;
  --color-primary-light: #8b5cf6;
  --font-sans: 'Nunito', sans-serif;
}

@layer base {

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}